@model ContosoUniversity.Features.Home.About.QueryResponse

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model.Statistics)
    {
        <tr>
            <td>
                @item.EnrollmentDate.ToString("d")
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>