@using Microsoft.AspNet.Mvc.ViewFeatures
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    5000 Quorum Drive, Ste 300<br />
    Addison, TX 75254<br />
    <abbr title="Phone">P:</abbr>
    469-619-6416
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>