@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CU 2016</title>
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <p>Contoso University 2016 landing page</p>
</body>
</html>