@model ContosoUniversity.Features.Course.Details.QueryResponse

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="DepartmentName"></label>
        </dt>

        <dd>
            @Model.DepartmentName
        </dd>

        <dt>
            <label asp-for="Number"></label>
        </dt>

        <dd>
            @Model.Number
        </dd>

        <dt>
            <label asp-for="Title"></label>
        </dt>

        <dd>
            @Model.Title
        </dd>

        <dt>
            <label asp-for="Credits"></label>
        </dt>

        <dd>
            @Model.Credits
        </dd>

    </dl>

    <form asp-controller="Course" asp-action="Delete" method="post" role="form">
        <input type="hidden" asp-for="Id" />

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>

</div>
