@model ContosoUniversity.Features.Department.Create.QueryResponse

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form asp-controller="Department" asp-action="Create" method="post" class="form-horizontal" role="form">
    
    <div>
        <h4>Department</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Budget" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @*need to set the initial value formatted as year-month-day to have it set*@
                <input asp-for="StartDate" class="form-control" value='@Model.StartDate?.ToString("yyyy-MM-dd")' />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="InstructorId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="InstructorId" asp-items="Model.Instructors" class="form-control"></select>
                <span asp-validation-for="InstructorId" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="foo" type="submit" class="btn btn-default">Create</button>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


