@using ContosoUniversity.Features.Department
@model IList<Index.Model>
@{
    ViewData["Title"] = "Departments";
}
<h2>Departments</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Budget
        </th>
        <th>
            Start Date
        </th>
        <th>
            Administrator
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Budget.ToString("C")
            </td>
            <td>
                @item.StartDate.ToString("d")
            </td>
            <td>
                @item.AdministratorFullName
            </td>
            <td>
                <a asp-action="Edit">Edit</a> |
                <a asp-action="Details">Details</a> |
                <a asp-action="Delete">Delete</a>
            </td>
        </tr>
    }
</table>